.header {
  padding: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
}
.paymentMethod {
  padding: 20px;
  text-align: left;
  font-size: 12px;
  background-color: #fff;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.flex p {
  padding: 0;
  margin: 0;
}
.flex h3 {
  /* font-size: 14px; */
  padding: 0;
  margin: 0;
  min-width: 300px;
}
.flex img {
  width: 100px;
}
.flex div {
  height: auto;
}

.payment_container {
  max-width: 400px;
  width: 100%;
}
.vertical_bar {
  width: 3px;
  height: 50px;
  background-color: black;
  display: inline-block;
}
.pay__button {
  margin-top: 10px;
  background-color: var(--amazon-yellow);
  border: none;
  color: #111;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.vertical_bar {
  margin: 10px 1px;
}
.price > div {
  font-size: 14px;
  gap: 10px;
  display: flex;
}
.pay__button:hover {
  background-color: #f7ca00;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .vertical_bar {
    display: none;
  }
  .header {
    display: none;
  }
}
