.auth__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.auth__logo img {
  width: 150px;
  padding: 10px 0;
}
.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  border-radius: 5px;
  margin: 20px 0;
  width: 240px;
  padding: 20px;
  border: 1px solid #ccc;
}
.auth__form input:focus-within {
  border: 1px solid var(--amazon-yellow);
}


.auth__form p {
  font-size: 12px;
}

.auth__button__signin {
  background-color: var(--amazon-yellow);
  border: 1px solid #a88734;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.auth__button__signup {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.auth__button__signin:hover{
font-weight: bold;
border: 1px solid #a88734;
}
.auth__button__signup:hover {
  /* background-color: var(--amazon-yellow); */
  font-weight: bold;
}
