a {
  text-decoration: none;
  color: inherit;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  position: relative;
  margin-top: -20%; 
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10; 
}

.category_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px; 
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
}

.category_card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 5px;
}

.category_card h3 {
  font-size: 21px;
  margin: 0 0 4px 0;
  font-weight: 700;
}

.category_card p {
  margin: 0;
  color: #007185;
  font-weight: 500;
  font-size: 13px;
}

.category_card p:hover {
    color: #c7511f;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .categories {
        margin-top: -50px; 
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 10px;
        gap: 10px;
    }
    
    .category_card {
        padding: 10px;
    }
    
    .category_card h3 {
        font-size: 16px;
    }
    
    .category_card img {
        height: 150px;
    }
}
