.container {
  /* background-color: #eaeded; */
  padding: 30px;
}

.cart_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  flex: 3;
}

.cart_container h2 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
}

.cart_container h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
}

.cart_product {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 5px;
}

.btn {
  background-color: #f0f2f2;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.btn:hover {
  background-color: #e3e6e6;
}

.subtotal {
  flex: 1;
  background-color: white;
  padding: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.subtotal div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.subtotal small {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subtotal a {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.subtotal a:hover {
  background-color: #f7ca00;
  border-color: #f2c200;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .cart_container {
    padding: 15px;
  }

  .cart_product {
    flex-direction: column;
    align-items: center;
  }

  .btn_container {
    margin-left: 0;
    margin-top: 10px;
  }

  .subtotal {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
}
