.img_gradient {
  position: relative;
}

.img_gradient::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255) 100%
  );
}
