.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 20px 80px;
  background-color: white;
  min-height: 100vh;
}

.orders__container h1 {
  margin: 30px 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.orders__order {
  padding: 20px;
  background-color: white;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .orders__order {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }
}
